[FORMAT]
# Maximum number of characters on a single line.
max-line-length = 120

[MESSAGES CONTROL]
disable = 
    line-too-long,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    expression-not-assigned,
    wrong-import-position,
    wrong-import-order,
    broad-exception-raised,
    broad-exception-caught,
    bare-except,
    invalid-name # Allow snake_case names for now, remove later when we have time to refactor
